<html>
    <head>
        <title>{% block title %}Welcome to the star 9{% endblock %}</title>
        <!-- default css & js go here -->
        <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css"/>
        <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
        {% block extra_header %}
        <!-- extra css & js go here -->
        {% endblock %}
    </head>
    <body>
        <div class="container">
        {% block body %}{% endblock %}

        {% block more_includes %}
        <!-- more js go here -->
        {% endblock %}
        </div>
    </body>
</html>
